language: go

services:
  - docker

dist: trusty
sudo: false

go:
  - "1.8"
#  - "1.9"
#  - "1.10"
  - "1.11"
#  - "tip"

env:
  global:
    - DCMD="docker run --rm -i -v ${TRAVIS_BUILD_DIR}:/go/src/github/h2non/bimg h2non/bimg:ci"
  matrix:
#    - LIBVIPS=7.42.3
#    - LIBVIPS=8.2.3
#    - LIBVIPS=8.3.3
#    - LIBVIPS=8.4.6
#    - LIBVIPS=8.5.8
    - LIBVIPS=8.6.2
    - LIBVIPS=8.7.2
#    - LIBVIPS=master

matrix:
  allow_failures:
    - env: LIBVIPS=7.42.3
    - env: LIBVIPS=8.2.3
    - env: LIBVIPS=8.3.3

before_install:
  - docker build -t h2non/bimg:ci --build-arg LIBVIPS_VERSION=${LIBVIPS} --build-arg GO_VERSION=${TRAVIS_GO_VERSION} .

install:
  - true

script:
  - echo "executing ${DCMD}"
  - echo "go test -test.v -test.race -test.covermode=atomic -test.coverprofile=coverage.out" | ${DCMD}
  #- diff -u <(echo -n) <(go vet ./)
  #- diff -u <(echo -n) <(gometalinter --disable-all -E golint ./)
  #- go test -test.v -test.race -test.covermode=atomic -test.coverprofile=coverage.out

after_success:
  - goveralls -coverprofile=coverage.out -service=travis-ci
